source/webscrapping/geckodriver.exe
source/webscrapping/geckodriver.log
jupyter_notebooks/geckodriver.log
jupyter_notebooks/geckodriver.exe
jupyter_notebooks/witcher.html
scripts/witcher.html
/.env
/project_utils/commit_changes_generator/commit_changes.diff
/source/data/cache/*.bin
/source/scripts/book_graphs/*.html
